<!-- HEADER MOBILE-->
<header th:fragment="header-mobile" class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a th:href="@{/}" class="size-1_5">
                    <strong>Cashier</strong>System
                </a>
                <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li class="${indexActive} ? 'active'">
                    <a th:href="@{/}">
                        <span>
                                <i class="fas fa-tachometer-alt"></i>
                            </span>
                        Главная
                    </a>
                </li>
                <li class="${cashboxActive} ? 'active'">
                    <a th:href="@{/cashbox}">
                        <span>
                            <i class="fas fa-dollar-sign"></i>
                        </span>
                        Каса
                    </a>
                </li>
                <li class="${stockActive} ? 'active'">
                    <a th:href="@{/stock}">
                         <span>
                            <i class="fas fa-table"></i>
                        </span>
                        Склад</a>
                </li>
                <li class="${usersActive} ? 'active'">
                    <a th:href="@{/users}">
                        <span>
                            <i class="fas fa-users"></i>
                        </span>
                        Пользователи</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->

<!-- HEADER DESKTOP-->
<header th:fragment="header-desktop" class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" th:action="@{/stock/findproduct}" th:object="${search}" method="POST">
                    <input class="au-input au-input--xl" type="text" name="search"
                           placeholder="Поиск товара на складе"/>
                    <button class="au-btn--submit" type="submit">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </form>
                <div class="header-button">
<!--                    <div class="noti-wrap">-->
<!--                        <div class="noti__item js-item-menu">-->
<!--                            <i class="zmdi zmdi-notifications"></i>-->
<!--                            <span class="quantity">3</span>-->
<!--                            <div class="notifi-dropdown js-dropdown">-->
<!--                                <div class="notifi__title">-->
<!--                                    <p>You have 3 Notifications</p>-->
<!--                                </div>-->
<!--                                <div class="notifi__item">-->
<!--                                    <div class="bg-c1 img-cir img-40">-->
<!--                                        <i class="zmdi zmdi-email-open"></i>-->
<!--                                    </div>-->
<!--                                    <div class="content">-->
<!--                                        <p>You got a email notification</p>-->
<!--                                        <span class="date">April 12, 2018 06:50</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="notifi__item">-->
<!--                                    <div class="bg-c2 img-cir img-40">-->
<!--                                        <i class="zmdi zmdi-account-box"></i>-->
<!--                                    </div>-->
<!--                                    <div class="content">-->
<!--                                        <p>Your account has been blocked</p>-->
<!--                                        <span class="date">April 12, 2018 06:50</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="notifi__item">-->
<!--                                    <div class="bg-c3 img-cir img-40">-->
<!--                                        <i class="zmdi zmdi-file-text"></i>-->
<!--                                    </div>-->
<!--                                    <div class="content">-->
<!--                                        <p>You got a new file</p>-->
<!--                                        <span class="date">April 12, 2018 06:50</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="notifi__footer">-->
<!--                                    <a href="#">All notifications</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image">
                                <img th:src="@{/images/icon/logo-mini.png}" alt="John Doe"/>
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" href="#" sec:authentication="name"></a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/images/icon/logo-mini.png}" alt="Admin"/>
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <a href="#">Admin</a>
                                        </h5>
                                        <span class="email" sec:authentication="name"></span>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <form id="logout-form" th:action="@{/logout}" method="post">
                                        <a href="#" onclick="document.getElementById('logout-form').submit();">
                                            <i class="zmdi zmdi-power"></i>Выход</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- HEADER DESKTOP-->