<!-- MENU SIDEBAR-->
<aside th:fragment="sidebar" class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a th:href="@{/}" class="size-1_5">
            <strong>Cashier</strong>System
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="${indexActive} ? 'active'">
                    <a th:href="@{/}">
                        <span>
                                <i class="fas fa-tachometer-alt"></i>
                            </span>
                        Главная
                    </a>
                </li>
                <li class="${cashboxActive} ? 'active'">
                    <a th:href="@{/cashbox}">
                        <span>
                            <i class="fas fa-dollar-sign"></i>
                        </span>
                        Каса
                    </a>
                </li>
                <li class="${stockActive} ? 'active'">
                    <a th:href="@{/stock}">
                         <span>
                            <i class="fas fa-table"></i>
                        </span>
                        Склад</a>
                </li>
                <li class="${usersActive} ? 'active'">
                    <a th:href="@{/users}">
                        <span>
                            <i class="fas fa-users"></i>
                        </span>
                        Пользователи</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->