<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cashier App">

    <!-- Title Page-->
    <title>Регистрация</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" type="text/css">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" type="text/css">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" type="text/css">

</head>

<body class="animsition">
<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#" class="size-1_5">
                            <strong>Cashier</strong>System
                        </a>
                    </div>
                    <div class="login-form">
                        <form action="#" th:action="@{/register}" th:object="${userForm}" method="post">
                            <div class="form-group">
                                <label> Email: </label>
                                <input class="au-input au-input--full" type="email" th:field="*{email}" required/>
                                <p style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</p>
                            </div>
                            <div class="form-group">
                                <label> Имя: </label>
                                <input  class="au-input au-input--full" type="text" th:field="*{name}" required/>
                                <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>
                            </div>
                            <div class="form-group">
                                <label> Фамилия: </label>
                                <input class="au-input au-input--full" type="text" th:field="*{surname}" required/>
                                <p style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Incorrect surname</p>
                            </div>
                            <div class="form-group">
                                <label> Пароль: </label>
                                <input class="au-input au-input--full" type="password" th:field="*{password}" required/>
                                <p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</p>
                            </div>
                            <div class="form-group">
                                <label> Подтвердите пароль: </label>
                                <input class="au-input au-input--full" type="password" th:field="*{passwordConfirm}" required/>
                                <p style="color:red" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Incorrect confirm</p>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="roleSelect" class=" form-control-label">Роль</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <select name="roleSelect" th:field="*{roleId}" id="roleSelect" class="form-control">
                                        <option th:each="role : ${userRoles}" th:value="${role.id}" th:text="${role.roleName}"></option>
                                    </select>
                                </div>
                            </div>
                            <div><input class="au-btn au-btn--block au-btn--green m-b-20" type="submit" value="Зарегистрироваться"/></div>
                        </form>

                        <div class="register-link">
                            <p>
                                <a th:href="@{/login}">Вход</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>

</body>

</html>
<!-- end document-->

