<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cashier App">

    <!-- Title Page-->
    <title>Главная</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" type="text/css">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" type="text/css">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" type="text/css">

</head>

<body class="animsition">
<div class="page-wrapper">

    <div th:replace="fragments/header :: header-mobile"></div>

    <div th:replace="fragments/sidebar :: sidebar"></div>

    <!-- PAGE CONTAINER-->
    <div class="page-container">

        <div th:replace="fragments/header :: header-desktop"></div>

        <!-- MAIN CONTENT-->
        <div class="main-content">

            <div class="row p-l-20  m-t-10">
                <div class="col-lg-5 col-sm-12">
                    <div class="card">
                        <div class="card-header">Склад</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Добавить товар</h3>
                            </div>
                            <hr>
                            <form th:action="@{/stock/product}" th:object="${productForm}" method="post">
                                <div class="form-group">
                                    <label for="id" class="control-label mb-1">Продукт ID</label>
                                    <input th:field="*{id}" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="help-block" ></span>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="control-label mb-1">Название</label>
                                    <input th:field="*{name}" type="text" class="form-control cc-name valid" data-val="true" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block" ></span>
                                </div>
                                <div class="form-group">
                                    <label for="count" class="control-label mb-1">Количество</label>
                                    <input th:field="*{count}" type="text" class="form-control cc-name valid" data-val="true" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                    <span th:if="${#fields.hasErrors('count')}" th:errors="*{count}" class="help-block" ></span>
                                </div>
                                <div class="form-group">
                                    <label for="weight" class="control-label mb-1">Вес</label>
                                    <input th:field="*{weight}" type="number" class="form-control cc-name valid" data-val="true" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                    <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" class="help-block" ></span>
                                </div>
                                <div class="form-group">
                                    <label for="price" class="control-label mb-1">Цена</label>
                                    <input th:field="*{price}" type="number" class="form-control cc-name valid" data-val="true" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="help-block" ></span>
                                </div>
                                <div sec:authorize="hasAuthority('MERCHANDISER')">
                                    <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                        <span id="payment-button-sending">Добавить</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-sm-12">
                    <!-- DATA TABLE-->
                    <div class="p-l-10 p-r-20 table-responsive m-b-40">
                        <table class="table table-borderless table-data3">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Название</th>
                                <th>Количество</th>
                                <th>Вес</th>
                                <th>Цена</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${products}">
                                <td th:text="${product.id}"></td>
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.count}"></td>
                                <td th:text="${product.weight}"></td>
                                <td th:text="${product.price}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>

</body>

</html>
<!-- end document-->


